/** General style rules */
:root {
    --background-color: #ffe3e8;
    --button-color: #7b007b;
    --button-hover-color: #b36ab3;
    --button-text-color: #ffd700;
    --font-color: #282727;
    --font-size-regular: 16px;
    --font-size-large: 20px;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-family: Arial, Helvetica, sans-serif;
    --border-radius: 4px;
    --default-padding-margin: 6px;
    --button-width: 300px;

    background-color: var(--background-color);
}

.g_padding {
    padding: 6px;
}

.g_width-full {
    width: 100%;
}

.g_button {
    border: 1px solid #95389e;
    padding: 5px 20px;
    background-color: #95389e;
    cursor: pointer;
    color: #f7f7f7;
}

.g_button:hover {
    background-color: #c778cf;
}

.g_input {
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;
    min-width: 300px;
}

/** Styles specific for different HTML elements */
.root {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 750px;
    font-family: var(--font-family);
    color: var(--font-color);
}

.back-button {
    align-self: flex-start;
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    text-decoration: underline;
}

.button-group {
    text-align: center;
}

.container {
    align-items: center;
    padding: var(--default-padding-margin);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.decorative-quote {
    padding: var(--default-padding-margin);
    font-size: var(--font-size-large);
    text-align: center;
    padding-bottom: 24px;
}

.default-button {
    width: var(--button-width);
    margin: var(--default-padding-margin);
    border: 1px solid var(--button-color);
    padding: 12px;
    background-color: var(--button-color);
    cursor: pointer;
    color: var(--button-text-color);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius);
}

.default-button:hover {
    background-color: var(--button-hover-color);
}

.add-option-section-label {
    border: none;
    background: none;
    font-size: var(--font-size-large);
    padding: 12px 0px;
    width: 100%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}

.add-label {
    font-family: var(--font-family);
}

.add-input {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    border-radius: var(--border-radius);
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;
    width: calc(100% - 100px);
}

.add-button {
    font-family: var(--font-family);
    font-size: var(--font-size-regular);
    border-radius: var(--border-radius);
    border: 1px solid var(--button-color);
    padding: 5px 20px;
    background-color: var(--button-color);
    cursor: pointer;
    color: var(--button-text-color);
}

.add-button:hover {
    background-color: var(--button-hover-color);
}

.add-form {
    width: 80%;
}

.remove-button {
    margin: var(--default-padding-margin);
    border: 1px solid var(--button-color);
    font-weight: 800;
    color: var(--button-text-color);
    background-color: var(--button-color);
    border-radius: 50px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: var(--button-hover-color);
}

.options-list {
    width: 80%;
    list-style: none;
    padding-inline-start: 0px;
}